<h1>Burası Admin Area, buraya Hoşgeldiniz.</h1>
<a asp-area="" asp-controller="Home" asp-action="Index">Blog Area Kısmına Geçmek için Lütfen Tıklayınız</a> @*Normal Blog'a bağlanabilmek ya da oraya geçiş yapabilmek için asp-area kısmını boş bıraktık. Diğer isimleri verince de artık bu linke tıkladığımızda Blog'ya gideceğiz*@
