<h1>Burası blog area, buraya Hoşgeldiniz.</h1>
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Area Kısmına Geçmek için Lütfen Tıklayınız</a> @*Admin area'ya bağlanabilmek ya da oraya geçiş yapabilmek için asp-area kullandık. Diğer isimleri verince de artık bu linke tıkladığımızda AdminArea'ya gideceğiz*@
